.btn--primary{
  display: block;
  margin: 1rem auto;
  padding: .5rem 1rem;
  font-family: $font-primary;
  font-size: 1.2rem;
  letter-spacing: .07rem;
  background-color: $accent-color--1;
  color: white;
  border: none;
}