.footer{
  width: 90%;
  margin: 2rem auto;
}

.social-media{
  display: flex;
  margin-bottom: 1.5rem;

  img{
    width: 2rem;
    margin-right: .5rem;
  }
}

.footer__policy{
  line-height: 1.5;
  text-align: left;
  font-size: .7rem;
  margin-bottom: 1.5rem;

  span{
    color: $neutral-color--1;
    text-decoration: underline;
  }
}

.footer__privacy-statement{
  font-size: .7rem;
  color: black;
}