$bg-image--mobile:url('../images/hero-mobile.png');

$bg-image--desktop:url('../images/hero-styled.png');



.hero__img{
  height: 15rem;
  background: $bg-image--mobile no-repeat;
  background-position: left center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media(min-width:768px){
  .hero__img{
    height: 40vh;
    background: $bg-image--desktop no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media(min-width:960px){
  .hero__img{
    height: 45vh;
  }
}

@media(min-width:1920px){
  .hero__img{
    height: 50vh;
  }
}

@media(min-width:2400px){
  .hero__img{
    height: 70vh;
  }
}