// .testimonials-section{
  
// }

.testimony__body{
  position: relative;

   p{
     margin: 0 auto;
     margin-top: .75rem;
     margin-bottom: .75rem;
     width: 50%;
     color:$neutral-color--2;
     font-style: italic;
     text-align: center;
   }

   .testimony__name{
     font-style: normal;
     color: $secondary-color;
   }
}

.testimony__img{
  margin-top: 2rem;
  text-align: center;
}

.testimony__qoute{
  position: absolute;
  left: 25%;
}