@media(min-width:768px){
  .testimonials-section{
    display: flex;
  }

  .testimony{
    flex: 1 1 33%;
  }

  .testimony__body{
    .mark{
      width: 100%;
    }
  }
}

.testimony__body{
  position: relative;
  margin: 0 auto;

   p{
     margin: 0 auto;
     margin-top: .75rem;
     margin-bottom: .75rem;
     width: 50%;
     color:$neutral-color--2;
     font-style: italic;
     text-align: center;
   }

   .testimony__name{
     font-style: normal;
     color: $secondary-color;
   }
}

.testimony__img{
  margin-top: 2rem;
  text-align: center;
}

.testimony__qoute{
  position: absolute;
  left: 25%;
}

.testimony__qoute--mark{
  position: absolute;
  left: 25%;
}

@media(min-width:768px){
  .testimony__qoute--mark{
    left: 0;
  }
}