.page-container{
  margin: 0 auto;
  width: 90%;
}

@media(min-width:768px){

  .page-container{
    width: 95%;
    margin: 0 auto;
  }

  .page-container--desktop{
    margin: 0 auto;
    width: 90%;
  }
}
